body {
    padding: 0;
    margin: 0;
    background-color: black;
}
html, body, #map {
    height: 100%;
}

h1 {
    margin-top: 12.5px;
}

#description {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    color: #e8e8e8;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
}

#description a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#total-bikes, #total-stations {
    font-size: 26px;
}

#last-update-date {
    text-transform: capitalize;
}

@media (max-width: 640px) and (max-height: 640px){
    #description {
        width: 93%;
        text-align: center;
    }
    #status-block, #about {
        display:none;
    }
}

@media (max-width: 640px) and (min-height: 640px) {
    #description {
        width: 93%;
        text-align: center;
    }
}

@media (min-width: 640px) and (max-width: 992px) and (max-height: 780px) {
    #description {
        width: 46%;
    }
    #status-block, #about {
        display: none;
    }
}

@media (min-width: 640px) and (max-width: 992px) and (min-height: 780px) {
    #description {
        width: 46%;
    }
}

@media (min-width: 992px) and (max-width: 1280px) and (max-height: 720px) {
    #description {
        width: 38%;
    }
    #status-block, #about {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1280px) and (min-height: 720px) {
    #description {
        width: 38%;
    }
}

@media (min-width: 1280px) and (max-height: 780px) {
    #description {
        width: 30%;
    }
    #status-block, #about {
        display: none;
    }
}

@media (min-width: 1280px) and (min-height: 780px) {
    #description {
        width: 30%;
    }
}
