body {
    padding: 0;
    margin: 0;
    background-color: black;
}
html, body, #map {
    height: 100%;
}

#description {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    color: #e8e8e8;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
}

#description a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#total-bikes, #total-stations {
    font-size: 26px;
}

@media (max-width: 640px) {
    #description {
        width: 93%;
    }
}

@media (min-width: 640px) and (max-width: 992px) {
    #description {
        width: 46%;
    }
}

@media (min-width: 992px) {
    #description {
        width: 30%;
    }
}

